#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "owncloud"
name = "ownCloud"
description.en = "Online storage, file sharing platform"
description.fr = "Stockage en ligne, plateforme de partage de fichiers"

version = "8.0.0~ynh2"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://owncloud.com"
demo = "https://ocis.owncloud.com"
admindoc = "https://doc.owncloud.com/ocis/next/"
code = "https://github.com/owncloud/ocis"
cpe = "cpe:2.3:a:owncloud:owncloud"

[integration]
yunohost = ">= 12.1.39"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = true

disk = "100M"
ram.build = "800M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["cs", "de", "en", "es", "fr", "gl", "it"]
    default = "fr"

    [install.password]
    type = "password"

[resources]

    [resources.sources.main]
    amd64.url = "https://github.com/owncloud/ocis/releases/download/v8.0.0/ocis-8.0.0-linux-amd64"
    amd64.sha256 = "c618abc1a550302a5f5af9f54d02af8106492f81072378010576d7141a7ecf92"
    arm64.url = "https://github.com/owncloud/ocis/releases/download/v8.0.0/ocis-8.0.0-linux-arm64"
    arm64.sha256 = "3610641109093e703755ec24cb75ec8591176d39e3bb11f3a8e99712fe6f646e"
    armhf.url = "https://github.com/owncloud/ocis/releases/download/v8.0.0/ocis-8.0.0-linux-arm"
    armhf.sha256 = "47c16efff0a779c9aec6d5ba2aa8980a7cebd50971e695527ca57740089f70af"
    i386.url = "https://github.com/owncloud/ocis/releases/download/v8.0.0/ocis-8.0.0-linux-386"
    i386.sha256 = "560ea213368e211315b4e4b194c38e877eec5bd18aeb9f78730214866d67da2d"
    in_subdir = false
    rename = "ocis"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^ocis-.*-linux-amd64$"
    autoupdate.asset.arm64 = "^ocis-.*-linux-arm64$"
    autoupdate.asset.armhf = "^ocis-.*-linux-arm$"
    autoupdate.asset.i386 = "^ocis-.*-linux-386$"

    [resources.system_user]
    allow_email = true
    
    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["config"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors"]

    [resources.ports]
