#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "owncloud"
name = "ownCloud"
description.en = "Online storage, file sharing platform"
description.fr = "Stockage en ligne, plateforme de partage de fichiers"

version = "7.2.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://owncloud.com"
demo = "https://ocis.owncloud.com"
admindoc = "https://doc.owncloud.com/ocis/next/"
code = "https://github.com/owncloud/ocis"
cpe = "cpe:2.3:a:owncloud:owncloud"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false

sso = false

disk = "100M"
ram.build = "800M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["cs", "de", "en", "es", "fr", "gl", "it"]
    default = "fr"

    [install.password]
    type = "password"

[resources]

    [resources.sources.main]
    amd64.url = "https://github.com/owncloud/ocis/releases/download/v7.2.0/ocis-7.2.0-linux-amd64"
    amd64.sha256 = "48f9d3f0eac471897f32552197b8670e5d5264717e595ffe0f7ddb7e715b4a86"
    arm64.url = "https://github.com/owncloud/ocis/releases/download/v7.2.0/ocis-7.2.0-linux-arm64"
    arm64.sha256 = "23ca1dc09123aa2e09afcbf234389f8cec20e82ce70bcf7c0695987e58108fe3"
    armhf.url = "https://github.com/owncloud/ocis/releases/download/v7.2.0/ocis-7.2.0-linux-arm"
    armhf.sha256 = "aa8c80d2548df01054d17e4c6a326ab885af9c798c6347d9cb74ff4721d0c930"
    i386.url = "https://github.com/owncloud/ocis/releases/download/v7.2.0/ocis-7.2.0-linux-386"
    i386.sha256 = "617116e01392a0c772662797982a07f68211ffdcc10e6ae4c6d86b5f87b07c97"
    in_subdir = false
    rename = "ocis"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^ocis-.*-linux-amd64$"
    autoupdate.asset.arm64 = "^ocis-.*-linux-arm64$"
    autoupdate.asset.armhf = "^ocis-.*-linux-arm$"
    autoupdate.asset.i386 = "^ocis-.*-linux-386$"

    [resources.sources.draw-io]
    url = "https://github.com/owncloud/web-extensions/releases/download/draw-io-v0.3.0/draw-io-0.3.0.zip"
    sha256 = "64ac799eb0576da5cf7f7f1ac9308090148ad423624713beae0f1c0820b77488"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^draw-io-.*.zip"

    [resources.sources.external-sites]
    url = "https://github.com/owncloud/web-extensions/releases/download/external-sites-v0.3.0/external-sites-0.3.0.zip"
    sha256 = "82bb9227f95394b23b215c336ab6f133c229a988964c347b718bac23c404436a"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^external-sites-.*.zip"
        
    [resources.sources.unzip]
    url = "https://github.com/owncloud/web-extensions/releases/download/unzip-v0.4.0/unzip-0.4.0.zip"
    sha256 = "ab3a13c2e4da8185b7d992b90f7bd6e4b62dd4964cda130e53095fde043c7687"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "^unzip-.*.zip"

    [resources.system_user]
    allow_email = true
    
    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["config"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors"]

    [resources.ports]
